.header {
    padding: 2px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #3949ab;
    display: flex;
    align-items: center;

    h2 {
        color: white;
        flex: 1;
    }
}